.map-wrap {
  width: 100%;
  height: calc(100vh - 180px);
}
.action-wrap {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  .action-btn {
    width: 90%;
    background-color: #f2f2f2;
    color: #191919;
  }
}